$brand: #1390e5;
$brandHover: #32a3eb;
$blackLight: #333333;
$grey: #ededed;
$grey2: #999999;
$grey3: #333333;
$error: #e96980;
$success: #0c9d47;
$errorBackground: #fbf5f7;
$disabled: #b2b2b2;
$cancel: #eb5940;
$white: #ffffff;
$errorServerBackground: #fcdeda;
$errorServerText: #fb1d39;
$purple: #761c7d;
