@import '../../styles/variables';

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 320px;
  background-color: $white;
  padding: 40px;
}

.title {
  font-size: 20px;
  margin-bottom: 12px;
}

.text {
  font-size: 16px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  :nth-child(2) {
    margin: 0;
  }
}

.exit {
  color: $cancel;
  font-size: 16px;
}

.continue {
  color: $brand;
  font-size: 16px;
  margin: 0 auto;
}
