@import '../../styles/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;

  & div:first-of-type {
    margin-bottom: 20px;
  }
}

.error {
  margin: 4px 0 4px;
  width: 100%;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: $errorServerText;
  background-color: $errorServerBackground;
}

.isFilled {
  border: 1px solid $brand;
}
